.home_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 20px;
}


.home_container h1 {
    font-size: 2.5em;
    
}

.home_container h1 span {
    color: #ffc316;
    padding: 0 .2em;
    background-color: #2f4f4f;
}

