.footer {
    background-color: #2f4f4f;
    color: #faebd7;
    padding: 2em;
    text-align: center;
}

.socialList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0px 0px 10px;
}

.socialList li:hover {
    color: #ffc316;
}

.socialList svg {
    cursor: pointer;
    font-size: 1.5em;
}

.copyRight span {
    font-weight: bold;
    color: #ffc316;
}